# Environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Logs and test results
*.log

# Virtual environment
venv/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
